{% set commentTitle = __SELF__.property('title') %}
{% set commentText = __SELF__.property('text') %}
{% set commentPhoto = __SELF__.property('photo') %}

<div class="comment">
    <div class="row">
        {% if ( (commentPhoto is not empty) and (commentPhoto!='storage/app/media') ) %}
        <div class="col-xs-3">
            <div class="image">
                <img class="img-circle" src="{{commentPhoto}}" />
            </div>
        </div>
        <div class="col-xs-9">
            {% if (commentTitle is not empty) or (commentText is not empty)%}
            <div class="title">{{commentTitle|raw}}</div>
            <div class="text">
                {{commentText|raw}}
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if (commentPhoto is empty) or (commentPhoto=='storage/app/media') and ((commentTitle is not empty) or (commentText is not empty)) %}
        <div class="col-xs-12">
            {% if (commentTitle is not empty) or (commentText is not empty)%}
            <div class="title">{{commentTitle|raw}}</div>
            <div class="text">
                {{commentText|raw}}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
